body {
  height: 120vh;
  background: var(--bs-indigo);
  color: var(--bs-white);
  background: url('../img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 30px left 0%;
}